<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
<!-- UY END -->


<!-- BY Dong Shuli
<!- 多说评论框 start 
<div class="post-comment">
            <span>Comments</span>
       <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="LippiOuYang.github.io{{ page.url }}">
	  </div>
</div>
-->



<!-- BY Dong Shuli
<!- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) 
<script type="text/javascript">
var duoshuoQuery = {short_name:"lippiouyang"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!- 多说公共JS代码 end -->


<!-- Blog Comments NEW BY Dong Shuli
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'sulydee',
    repo: 'http://sulydee.github.io',
    oauth: {
        client_id: '0258fec5dd4995e72fde',
        client_secret: '391674254a3a7b1578166fe58a71745da7da48d2',
    },
});
gitment.render('gitmentContainer');
</script>
-->